*{
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
}

input{
    outline: none;
}

a{
    text-decoration: none;
}

.space-top__3{
    margin-top: 3rem; 
}


.center{
    margin: 0 auto;
    display: block;
}

@for $i from 1 to 10{
    $containerWidth: 10% * $i;
    .container-#{$i}{
      @extend .center;
      width: $containerWidth;
    }
}

.center-box{
    @extend .container-8;
    margin-top: 3rem;
}

.headline__center{
    text-align: center;
}

.headline__mega{
    font-size: 3rem;
    letter-spacing: 0.8rem;
    margin: 1rem;
}