$color-success: "#fff";


@mixin biggness($pv, $ph, $fz){
    padding: $pv $ph;
    font-size: $fz;
}

@mixin size($width, $mv, $mh){
    width: $width;
    margin: $mv $mh;
}

%item-big{
    @include biggness(0.6rem, 2rem, 1.4rem);
    @include size(100%, 1rem, 0);
}

%item-medium{
    @include biggness(0.4rem, 1rem, 1.1rem);
    @include size(80%, 0.8rem, 0); 
}

.form{
    width: 100%;
    margin: 1rem auto
}

.form__flex{
    display: flex;
    flex-direction: column; 
    align-items: center;
}



.input{
    outline: none;
    border: 1px solid #333;
}

.input__underline{
    border: none;
    border-bottom: 1px solid #888;
}

.input__big{
    @extend %item-big;
    text-align: center;
    max-width: 50rem;
}


.input__medium{
    @extend %item-medium;
    max-width: 40rem;
}




.button{
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #666;
}

.button__medium{
    @extend %item-medium;
    max-width: 30rem;
}

.button__big{
    @extend %item-big;
    max-width: 40rem;
}

.form-message__success{
    text-align: center;
}

.form-message__success a{
    color: green;
    text-decoration: underline;
    text-align: center;
}

.form-error{
    color: red;
    font-size: 0.8rem;
    position: relative;
    top: -0.6rem;
    height: 0;
}