.header-primary{
    padding: 1rem 2rem;
    box-shadow: 2px 0px 2px 2px #ddd;
}

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header-nav{
    display: flex;
    flex-direction: row;
}

.header-nav > * {
    margin: 0 1rem;
}



.link__button{
    padding: 0.4rem 1rem;
    border: 1px solid #666;
    border-radius: 5px;
    box-shadow: 0px 1px 3px 1px #eee;
    font-size: 1rem;
    cursor: pointer;
}

.link__button-green{
    @extend .link__button;
    background: #65a358;
    color: #fff;
}


